<% if current_spree_user.try(:admin?) %>
  <div id="admin_bar">
    <strong><%= link_to Spree.t(:admin_path_name), admin_path %>: &nbsp;</strong>

    <% if @product %>

      <%= link_to Spree.t(:edit_product), edit_admin_product_path(@product) %>
      | <%= link_to Spree.t(:images), admin_product_images_path(@product) %>
      | <%= link_to Spree.t(:variants), admin_product_variants_path(@product) %>
      | <%= link_to Spree.t(:properties), admin_product_product_properties_path(@product) %>

      <% if defined? Spree::Relation %>
        | <%= link_to Spree.t(:related), related_admin_product_path(@product) %>
      <% end %>

      <% use_ssl = ssl_required and Rails.env.production? %>
      | <%= link_to Spree.t(:delete_product), admin_product_url(@product, protocol: (use_ssl ? 'https' : 'http')), data: { confirm: Spree.t(:are_you_sure)}, method: :delete %>

    <% elsif @taxon %>

      <%= link_to Spree.t(:edit_taxonomy), edit_admin_taxonomy_path(@taxon.taxonomy) %>
      | <%= link_to 'Edit Taxon', edit_admin_taxonomy_taxon_path(@taxon.taxonomy.id, @taxon.id) %>

    <% elsif defined? Spree::Page and @page %>

      <%= link_to Spree.t(:edit_page), edit_admin_page_path(@page) %>

    <% end %>

  </div>
<% end %>
